<div class="documents-page">
    <div class="seccion_with_header">
        <div class="header">
            <h2 class="header_title">Generar documentos</h2>
        </div>
        <div class="documents">
            <div class="item_document">
                <p>Certificado de deuda a la fecha</p>
                <div>
                    <button class="primary_button">Generar</button>
                </div>
            </div>
            <div class="item_document">
                <p>Paz y salvo</p>
                <div>
                    <button class="primary_button">Generar</button>
                </div>
            </div>
            <div class="item_document">
                <p>Extracto</p>
                <div>
                    <button class="primary_button">Generar</button>
                </div>
            </div>
        </div>
    </div>
</div>