@if (allUsers.length > 0) {
    <div class="residents_page">
        <table class="table_residents">
            <thead>
                <tr>
                    <th></th>
                    <th>Propietario</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Torre</th>
                    <th>Apartamento</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th>Último pago</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (user of allUsers; track $index) {
                    <tr>
                        <td>{{ $index + 1 }}</td>
                        <td style="text-align: center;">{{ user.fullName }}</td>
                        <td style="text-align: center;">{{ user.email }}</td>
                        <td style="text-align: center;">{{ user.phone }}</td>
                        <td style="text-align: center;">{{ user.torre }}</td>
                        <td style="text-align: center;">{{ user.apartamento }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}