.residents_page {
    .table_residents {
        background-color: var(--background-white);
        border-radius: 12px;
        padding: 10px;
        border: 1px solid var(--border-inputs);
        width: 100%;
    }
}