<div class="content_login">
    <div class="bg_imagen_login"></div>

    <div class="section_login">
        <div class="section_information_login">
            <h1 class="title_welcome">Bienvenido</h1>
            <p>Por favor introduce tus credenciales para ingresar al portal</p>
        </div>

        <div class="section_form_login">
            <div class="form_group">
                <label for="">Correo electrónico</label>
                <input type="email">
            </div>
            <div class="form_group">
                <label for="">Contraseña</label>
                <input type="password">
            </div>

            <button class="primary_button">Ingresar al portal</button>
        </div>

        <hr>

        <p>El acceso no autorizado está prohibido. <span>Solicitar acceso</span></p>
    </div>
</div>