.menu-section {
    width: 260px;
    height: 100vh;
    background-color: var(--background-white);
    border-right-width: 1px;
    border-color: #dbdfe6;
    .app-header-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        .section-icon-header-content {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding: 10px 10px;
            cursor: pointer;
            .section-icon {
                background-color: var(--background-color-primary-button);
                border-radius: 8px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 35px;
                    height: 35px;
                }
            }
            .description-header-content {
                .title-portal-admin {
                    font-weight: 700;
                    font-size: 16px;
                    margin: 0;
                }
                .description-title-portal-admin {
                    margin: 0;
                }
            }
        }
        .items-menu {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 3px;
            .item-menu {
                padding: 10px 10px 10px 10px;
                cursor: pointer;
                transition: all 150ms;
                display: flex;
                align-items: center;
                gap: 10px;
                &:hover {
                    background-color: var(--gray-hover-option);
                }
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .section_account {
            display: flex;
            gap: 10px;
            padding: 0 10px;
            .section_icon_account {
                width: 50px;
                height: 50px;
                min-width: 50px;
                min-height: 50px;
                border-radius: 100%;
                background-color: red;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 30px;
                    height: 30px;
                }
            }
            .account_information {
                display: flex;
                flex-direction: column;
                .name_account {
                    margin: 0;
                    font-weight: 600;
                }
                .role_account {
                    margin: 0;
                    font-weight: 300;
                }
            }
        }
        .item-logout {
            padding: 10px 10px 10px 10px;
            cursor: pointer;
            transition: all 150ms;
            &:hover {
                background-color: var(--gray-hover-option);
            }
        }
    }

}