/* You can add global styles to this file, and also import other style files */


:root {
    // BACKGROUNDS
    --background-app: #F6F6F8;
    --background-color-primary-button: #135bec;
    --background-white: #FFFFFF;
    --danger-color: #e53935;
    --gray-hover-option: rgb(243, 244, 246);
    --color-success: #07883b;
    --color-danger: #e73908;
    
    --border-inputs: #dbdfe6;

    // TEXTS COLORS
    --color-titles: #111318;
    --color-text: #616f89;
}

* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--background-app);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

hr {
    border-color: #e5e7eb;
}
p {
    font-size: 16px;
}
.hr-horizontal {
    width: 100%;
    border: 1px solid #dddddd;
}
.form_group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .section_input {
        input {
            height: 48px;
            width: 100%;
            border: 1px solid var(--border-inputs);
            border-radius: 8px;
        }
        .validators_section {
            color: #808080;
        }
    }
}
.primary_button {
    background-color: var(--background-color-primary-button);
    color: var(--background-white);
    border: 0;
    height: 48px;
    padding: 0 40px;
    border-radius: 8px;
    cursor: pointer;
}



// FORMULARIOS
input {
    padding: 0 10px;
    font-size: 17px;
    box-sizing: border-box;
    outline: none;
}
input.input-error {
    border: 1px solid var(--danger-color) !important;
}


// TEXTOS
.text-no-selected {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select:none;
}




.seccion_with_header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header_title {
            margin: 0;
        }
    }
}

.text-success {
    color: var(--color-success);
}
.text-danger {
    color: var(--color-danger);
}