.dashboard-page {
    .seccion_with_header {
        .events {
            .header_events {
                display: flex;
                justify-content: space-between;
                .header_title {
                    margin: 0;
                }
            }
            .event {
                display: flex;
                flex-direction: column;
                gap: 12px;
                max-width: 300px;
                background-color: var(--background-white);
                border-radius: 12px;
                padding: 10px;
                border: 1px solid var(--border-inputs);
                transition: all 150ms;
                cursor: pointer;
                .title-event {
                    margin: 0;
                }
                .description-event {
                    margin: 0;
                }
                &:hover {
                    scale: 1.025;
                }
            }
        }
    }
}
