<div class="dashboard-page">

    @if (allEvents && allEvents!.length > 0) {
        <app-events></app-events>
    }

    <!-- @if (allEvents && allEvents!.length > 0) { -->
    <div class="seccion_with_header">
        <div class="header">
            <h2 class="header_title">Resumen financiero</h2>
        </div>
        <div class="resumen_finance">
            <div class="item_finance">
                <h3 class="title_item_finance">Recaudación total</h3>
                <p class="price_item_finance">$45.200.00</p>
                <p class="place_item_finance text-success">+12.5% vs mes anterior</p>
            </div>
            <div class="item_finance">
                <h3 class="title_item_finance">Deuda pendiente</h3>
                <p class="price_item_finance">$45.200.00</p>
                <p class="place_item_finance text-danger">+12.5% vs mes anterior</p>
            </div>
            <div class="item_finance">
                <h3 class="title_item_finance">Gastos mensuales</h3>
                <p class="price_item_finance">$45.200.00</p>
                <p class="place_item_finance text-success">+12.5% vs mes anterior</p>
            </div>
        </div>
    </div>
    <!-- } -->    

    <div class="sections-charts">
        <div class="item-charts">
            <app-charts></app-charts>
        </div>
        <div class="item-charts">
            <app-charts></app-charts>
        </div>
    </div>
</div>